<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Michael Leggett</string>
	<key>Builder Version</key>
	<string>14607.2.6.1.1</string>
	<key>CFBundleDisplayName</key>
	<string>simplify-gmail</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.simplify-gmail</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>script.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>mail.google.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>test</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://simpl.fyi</string>
</dict>
</plist>
