

/* Last updated March 29, 2019 
 * Show tasks for Nicholas
 * Tell people to turn off chat and use icon actions
 * Search for TODO
 */


/* ================================================== */
/* APP BAR (menu and account switcher + container for search) */

/* Hide Gmail logo and name */
html.simpl a[title="Gmail"] { /* .gb_Vd - changes */
	display: none;
}
html.simpl .gb_qc {
	min-width: 58px !important;
	padding-right: 0px;
}

/* Hide App Switcher */
html.simpl #gbwa {
	display: none !important;
}

/* Give more space for Settings icon to live to left of profile photo */
html.simpl .gb_mc {
	padding-left: 52px;
}

/* Hiding company logo from identy */
html.simpl header#gb .gb_fa {
	width: 48px !important;
	border: none !important;
}
html.simpl .gb_ga {
	display: none !important;
}

/* Hide Google One color ring */
html.simpl .gb_Oa {
	display: none;
}

/* Add drop shadow when scrolled -- NEVER SETUP SCROLL LISTENER */
html.simpl.scrolled .w-asV {
	box-shadow: inset 0 -1px 0 rgba(100,121,143,0.122), 0 3px 2px -2px rgba(0,0,0,.1);	
}



/* ================================================== */
/* SETTINGS */

/* Show back button when in settings */
html.simpl.inSettings header#gb div[aria-label="Main menu"] {
	display: none !important;
}
html.simpl.inSettings header#gb div[aria-label="Go back"] {
	display: block !important;
}

/* Hide app bar and action bar when in Settings */
html.simpl.inSettings .aeH {
	width: calc(100vw - 128px) !important;
}
html.simpl.inSettings .aeH .G-atb {
	display: none;
}
html.simpl.inSettings .aeH .nH {
	box-shadow: none;
	-webkit-box-shadow: none;
}
html.simpl.inSettings .aeH .nH > div {
	padding: 12px 8px !important;
}
html.simpl.inSettings header#gb form {
	display: none;
}

/* Add a little padding above Settings content */
html.simpl.inSettings .nH > table {
	margin-top: 24px;
}

/* Move Save buttons to top right of Settings -- a bit janky
html.simpl.inSettings tr[guidedhelpid="save_changes_row"] div {
	position: fixed;
	top: 64px;
	background-color: #fff;
	width: 62%;
	text-align: right;
	padding: 12px 0px;
}
html.simpl.inSettings tr[guidedhelpid="save_changes_row"] div button {
	padding: 8px 12px;
	border-radius: 4px;
	font-weight: bold;
}
*/

/* TODO: Leaving Settings is a bit janky 
   Settings bar flashes before leaving b/c urlHash changes before view */


/* ================================================== */
/* ACTION BAR (actions, pagination, and settings) */

/* Move action bar on top of app bar and to right of menu button */
html.simpl .aeH {
	position: absolute !important;
	z-index: 987;
	top: 0px !important;
	left: 60px !important;
	width: calc(65% - 112px);
}
html.simpl .aeH .G-atb {
	height: 64px;
}

/* Hide extra drop shadow on action bar - it bleeds through on the filter pop-up */
html.simpl .aeH .G-atb::before {
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* Make bar wider when search is hidden */
html.simpl.hideSearch .aeH {
	width: calc(100vw - 215px) !important;
}

/* Move Settings to far right */
html.simpl .aeH .G-atb .aqJ .G-Ni.J-J5-Ji,
html.simpl .aeH .G-atb .adF .G-Ni.J-J5-Ji {
	position: absolute;
	left: calc(100vw - 182px);
	top: 0px;
}

/* Dim pagination controls unless hovered over */
html.simpl .aeH .G-atb .aqJ > div:first-child,
html.simpl .aeH .G-atb .adF > div:first-child {
	display: flex;
	opacity: 0.3;
	transition: opacity 0.2s ease-in 0s;
}
html.simpl .aeH .G-atb .aqJ > div:first-child:hover,
html.simpl .aeH .G-atb .adF > div:first-child:hover {
	opacity: 1;
}

/* Below 1100px wide, when search is expanded, hide pagination controls */
@media only screen and (max-width: 1100px) {
	html.simpl:not(.hideSearch) .aeH .G-atb .aqJ > div:first-child,
	html.simpl:not(.hideSearch) .aeH .G-atb .adF > div:first-child {
		display: none;
	}
}

/* Put drop down menus on top of everything */
html.simpl .J-M {
	z-index: 995;
}

/* Remove drop shadow from action bar */
html.simpl .aeI .G-atb {
	box-shadow: none;
	-webkit-box-shadow: none;
}


/* ================================================== */
/* SEARCH */

/* Push search to the right */
html.simpl #gb form {
	float: right;
	width: 35%;
	margin-right: 8px;
	/* background-color: #fff; */
}

/* Minimize search to an icon when hidden */
html.simpl.hideSearch #gb form:not(.gb_oe) {
	width: 58px;
	margin-right: 0px;
}

/* Make search box white when hidden */
html.simpl.hideSearch #gb form:not(.gb_oe) {
	background-color: #fff;
}

/* Hide all search form buttons except search button when search is hidden */
html.simpl.hideSearch #gb form:not(.gb_oe) button:not([aria-label="Search Mail"]) {
	display: none;
}

/* Move filter form to be under search box? */
html.simpl .ZF-Av {
	left: auto !important;
	right: 121px !important;
	width: 500px !important;
}
html.simpl .ZF-Av > div {
	border: 0px;
}



/* ================================================== */
/* NAV */

/* Hide nav when minimized or in Settings */
html.simpl .bhZ:not(.bym),
html.simpl.inSettings .aeN {
	max-width:0px !important;
	min-width:0px !important;
	position: relative;
	z-index: 3 !important;
}

/* No shadow or label on compose button */
html.simpl .z0 > .L3 {
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.15) !important;
	border-radius: 28px;
    font-size: 0;
    height: 56px;
    padding: 0;
    width: 56px;
}

/* Move compose button out of menu */
html.simpl .z0 {
    position: absolute;
    left: calc(100vw - 92px);
    top: calc(100vh - 140px);
    z-index: 3 !important;
	width: 54px;
    margin: 0;
    padding: 0;
}

/* Don't show the nav when hovering over the compose button */
html.simpl .bym {
	max-width:0px !important;
	min-width:0px !important;
	box-shadow: none !important;
    z-index: 3 !important;
}

/* Add some padding above the nav that the compose button used to provide */
html.simpl .wT {
	padding-top: 20px;
}

/* Hide bottom Hangouts tabs in nav -- BETTER TO JUST DISABLE CHAT IN SETTINGS
html.simpl .akc {
	display: none;
}
*/



/* ================================================== */
/* COMPOSER */

/* Raise the z-index of the compose window so it can go on top of the app bar */
html.simpl .dw {
	z-index: 988;
}
html.simpl .ah {
	z-index: 989;
}
html.simpl .aSs {
	z-index: 990;
}

/* Make it shorter by default */
html.simpl .dw > div > .nH > .nH > .no > 
.nH.nn:not(:first-child):not(:last-child):not(.aJl) .LW-avf.Am {
	min-height: 220px !important;
}
html.simpl .dw > div > .nH > .nH > .no > 
.nH.nn:not(:first-child):not(:last-child):not(.aJl) .qz {
	max-height: 540px !important;
}
html.simpl .dw > div > .nH > .nH > .no > 
.nH.nn:not(:first-child):not(:last-child):not(.aJl) .GP {
	height: 33vh !important;
	min-height: 240px !important;
	max-height: 540px !important; 
}

/* A touch more padding above the from field and subject */
html.simpl .dw form.bAs,
html.simpl .aSs .aSt .I5 > form.bAs {
	padding-top: 6px;
}

/* Make full screen composer less wide */
html.simpl .aSs > .aSt {
	width: 900px !important;
	left: calc(50vw - 450px) !important;
}
html.simpl .aSs .aDg > .aDj {
	width: 865px !important;
	left: calc(50vw - 435px) !important;
}

/* Make scrim behind full screen composer darker */
html.simpl .aSs {
	background-color: rgba(0,0,0,.7);
}

/* Move extended compose buttons inline  */
html.simpl .aSs .aDl > .Ur, 
html.simpl .aSs .aDn > .aDl > .Ur, 
html.simpl .aSs .aDi > .aDl > .Ur {
	left: 205px !important;
	bottom: -54px !important;
}
html.simpl .aSs .aZ > .J-Z {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* Hide useless buttons in full screen compose and move bar inline */
html.simpl .aSs .aZ .J-Z-I[command^="+undo"],
html.simpl .aSs .aZ .J-Z-I[command^="+redo"],
html.simpl .aSs .aZ .J-Z-I[command^="+bold"],
html.simpl .aSs .aZ .J-Z-I[command^="+italic"],
html.simpl .aSs .aZ .J-Z-I[command^="+underline"],
html.simpl .aSs .btC .oc.gU,
html.simpl .aSs .a8X .wG[command^="docs"],
html.simpl .aSs .a8X .wG[command^="op.money"] {
	display: none !important;
}



/* ================================================== */
/* MISC / MAIN VIEW (LIST AND CONVERSATION) */

/* Right and bottom padding on inbox and messages */
html.simpl .aeF {
	padding-right: 56px !important;
	margin-bottom: 150px;
}

/* Not sure why, but sometimes this div below the conversation gets 440px bottom padding */
html.simpl .pfiaof {
	padding-bottom: 0px !important;
}

/* Max width conversation */
html.simpl .AO .aeF > .nH {
	margin: 40px auto 0 auto;
	max-width: 900px; 
}

/* Hide right panel & toggle */
html.simpl .brC-dA-I-Jw,
html.simpl .bAw {
	display: none;
}

/* Add extra padding between inbox groups */
html.simpl div[role="tabpanel"] {
	padding-bottom:1em;
}

/* Hide toggle next to inbox groups */
html.simpl div[role="tabpanel"] h3 img {
	display: none;
}

/* TODO: Support Tasks being toggled */

/* Change The right sidebar's drop shadow to a stroke */ 

html.simpl .bq9,
html.simpl .bq9 div {
	box-shadow:none;
}
html.simpl .bq9 {
	border-left:1px solid rgba(0,0,0,0.1);
}

/* Hide footer */
html.simpl .aeG {
	display: none;
}

/* Different treatment of read items in inbox */
html.simpl .yO {
	/* Gray bg with medium grey text
	background-color: rgba(242,245,245,0.4);
	color: #333;
	*/

	/* White with lighter text */
	background-color: #fff;
	color: #555;
}
/* Back to defaults for selected items */
html.simpl .yO.x7 {
	background-color: #c2dbff;
	color: #202124;
}

/* Dim print and pop-out icons in conversation view */
html.simpl .bAn .ade span.hk {
	opacity: 0.2;
	transition: opacity 0.4s ease-in 0s;
}
html.simpl .bAn .ade span.hk {
	opacity: 1;
}

/* Less shadow on items on hover */
html.simpl .zA:hover {
	box-shadow: inset 1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,0.15) !important;
}

/* Dim inbox tabs */
html.simpl .aKh {
	opacity: 0.3;
	transition: opacity 0.4s ease-in 0s;
}
html.simpl .aKh:hover {
	opacity: 1;
}

/* Hide ads in top of inbox tabs */
html.simpl .aKB {
	display: none;
}

/* Increase z-index of loading butter bar */
html.simpl .ata-asE {
	z-index: 999 !important;
	/* TODO: make it less ugly too */
}

/* Put dialogs on top */
html.simpl div[role="alertdialog"] {
	z-index: 998 !important;
}




/* ================================================== */
/* SIMPL */

/* simpl Toggle button in bottom left corner */
#simplToggle {
	/* Hide simplToggle*/
	display: none;

	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999999999;
	border-radius: 8px 0 0 0;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.3);
	color: #f5f5f5;
	line-height: .5em;
	padding: 10px 8px 8px 10px;
	cursor: pointer;
	opacity: .5;
}
#simplToggle:before {
	content: "Ï€";
}
html.simpl #simplToggle {
	opacity: 1;
}