
/* Search for TODO and BUG */


/* ================================================== */
/* APP BAR (menu and account switcher + container for search) */

/* Hide Gmail logo and name */
html.simpl header a[href="#inbox"] { 
	display: none;
}
html.simpl .gb_qc {
	min-width: 58px !important;
	padding-right: 0px;
}

/* Hide App Switcher */
html.simpl #gbwa {
	display: none !important;
}

/* Give more space for Settings icon to live to left of profile photo */
html.simpl .gb_mc {
	padding-left: 52px;
}

/* Hiding company logo from identy */
html.simpl header#gb .gb_fa {
	width: 48px !important;
	border: none !important;
	background-color: transparent;
	margin-left: 0px;
}
html.simpl .gb_ga {
	display: none !important;
}

/* Hide Google One color ring */
html.simpl .gb_Oa {
	display: none;
}




/* ================================================== */
/* ACTION BAR (actions, pagination, and settings) */

/* Move action bar on top of app bar and to right of menu button */
html.simpl .aeH {
	position: absolute !important;
	top: 0px !important;
	left: 60px !important;
	width: calc(65% - 72px);

	/* Reduce z-index from 986 so action bar can live on top of it */
	z-index: 6; 
}
html.simpl .aeH .G-atb {
	height: 64px;
}

/* Remove extra right margin from action bar so it is spaced correctly */
html.simpl .aeH .G-atb[gh="tm"] {
	margin-right: 0px !important;
	top: 0px;
}

/* Hide extra drop shadow on action bar - it bleeds through on the filter pop-up */
html.simpl .aeH .G-atb::before {
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* Make bar wider when search is hidden */
html.simpl.hideSearch .aeH {
	width: calc(100vw - 172px);
}

/* Dim pagination controls unless hovered over */
/* BUG: the pagination controls are on each section in Priority Inbox */
html.simpl .aeH .G-atb .aqJ,
html.simpl .aeF .G-atb .aqJ,
html.simpl .aeH .G-atb .adF {
	opacity: 0.4;
	transition: opacity 0.2s ease-in 0s;
}
html.simpl .aeH .G-atb .aqJ:hover,
html.simpl .aeF .G-atb .aqJ:hover,
html.simpl .aeH .G-atb .adF:hover {
	opacity: 1;
}


/* Below 1100px wide, when search is expanded, hide pagination controls */
@media only screen and (max-width: 1100px) {
	html.simpl:not(.hideSearch) .aeH .G-atb .aqJ > div:first-child,
	html.simpl:not(.hideSearch) .aeH .G-atb .adF > div:first-child {
		display: none;
	}
}

/* Put drop down menus on top of everything */
html.simpl .J-M {
	/* ZINDEX clean up
	z-index: 995;
	*/
}

/* Remove drop shadow from action bar */
html.simpl .aeI .G-atb {
	box-shadow: none;
	-webkit-box-shadow: none;
}


/* ================================================== */
/* SEARCH */

/* Push search to the right */
html.simpl #gb form {
	float: right;
	width: 35%;
	max-width: none;
	margin-right: 8px;
	position: relative;
	right: -58px;
}

/* Minimize search to an icon when hidden */
html.simpl.hideSearch #gb form:not(.gb_oe) {
	width: 58px;
	margin-right: 0px;
}

/* Make search box white when hidden */
html.simpl.hideSearch #gb form:not(.gb_oe) {
	background-color: transparent;
}

/* Hide all search form buttons except search button when search is hidden */
/* For non-english interfaces, may break as this class name gets changed often */
html.simpl.hideSearch #gb form:not(.gb_oe) button:not([aria-label="Search Mail"]):not(.gb_Ue) {
	display: none;
}

/* Move filter form to be under search box? */
html.simpl .ZF-Av {
	left: auto !important;
	right: 121px !important;
	width: 500px !important;
}
html.simpl .ZF-Av > div {
	border: 0px;
}

/* TODO: Show search by default on wide screens */



/* ================================================== */
/* NAV */

/* Hide nav when minimized or in Settings */
html.simpl .bhZ:not(.bym),
html.simpl.inSettings .aeN {
	max-width:0px !important;
	min-width:0px !important;
	position: relative;
	z-index: 3 !important;
}

/* No shadow or label on compose button */
html.simpl .z0 > .L3 {
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3) !important;
	border-radius: 28px;
    font-size: 0;
    height: 56px;
    padding: 0;
    width: 56px;
}

/* Make FAB dark in dark themes */
html.simpl.darkTheme .z0 > .L3 {
	background-color: rgba(51,51,51,.9);
}

/* Move compose button out of menu */
html.simpl .z0 {
    position: absolute;
    left: calc(100vw - 92px);
    top: calc(100vh - 140px);
    z-index: 3 !important;
	width: 54px;
    margin: 0;
    padding: 0;
}

/* Move it over futher if RHS Chat is enabled */
html.simpl.rhsChat .z0 {
	left: calc(100vw - 262px);
}

/* Don't show the nav when hovering over the compose button */
html.simpl .bym {
	max-width:0px !important;
	min-width:0px !important;
	box-shadow: none !important;
    z-index: 3 !important;
}

/* Add some padding above the nav that the compose button used to provide */
html.simpl .wT {
	padding-top: 20px;
}

/* Hide top shadow when you scroll long label list */
html.simpl .aeN .ajj:before {
    -webkit-box-shadow: none;
    box-shadow: none;
}



/* ================================================== */
/* COMPOSER */

/* A touch more padding above the from field and subject */
html.simpl .dw form.bAs,
html.simpl .aSs .aSt .I5 > form.bAs {
	padding-top: 6px;
}

/* Make full screen composer less wide */
html.simpl .aSs > .aSt {
	width: 900px !important;
	left: calc(50vw - 450px) !important;
}
html.simpl .aSs .aDg > .aDj {
	width: 865px !important;
	left: calc(50vw - 435px) !important;
}

/* Make scrim behind full screen composer darker */
html.simpl .aSs {
	background-color: rgba(0,0,0,.7);
}

/* Move extended compose buttons inline  */
html.simpl .aSs .aDl > .Ur, 
html.simpl .aSs .aDn > .aDl > .Ur, 
html.simpl .aSs .aDi > .aDl > .Ur {
	left: 205px !important;
	bottom: -54px !important;
}
html.simpl .aSs .aZ > .J-Z {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* Hide useless buttons in full screen compose and move bar inline */
html.simpl .aSs .aZ .J-Z-I[command^="+undo"],
html.simpl .aSs .aZ .J-Z-I[command^="+redo"],
html.simpl .aSs .aZ .J-Z-I[command^="+bold"],
html.simpl .aSs .aZ .J-Z-I[command^="+italic"],
html.simpl .aSs .aZ .J-Z-I[command^="+underline"],
html.simpl .aSs .btC .oc.gU,
html.simpl .aSs .a8X .wG[command^="docs"],
html.simpl .aSs .a8X .wG[command^="op.money"] {
	display: none !important;
}



/* ================================================== */
/* SETTINGS */

/* Show back button when in settings */
/* TODO: support in non-english */
html.simpl.inSettings header#gb div[aria-label="Main menu"],
html.simpl.inSettings header#gb div.gb_qc > div:first-child {
	display: none !important;
}
html.simpl.inSettings header#gb div[aria-label="Go back"],
html.simpl.inSettings header#gb div.gb_qc > div:nth-child(2) {
	display: block !important;
}

/* Hide app bar and action bar when in Settings */
html.simpl.inSettings header {
	height: 0px !important;
}
html.simpl.inSettings .aeH,
html.simpl.inSettings.hideSearch .aeH {
	position: relative !important;
	left: initial !important;
	width: calc(100vw - 138px) !important;
	margin-top: -8px;
}
html.simpl.inSettings.hideSearch.splitPane .aeH {
	left: 72px !important;
}
html.simpl.inSettings .aeH .G-atb,
html.simpl.inSettings.hideSearch .aeH .G-atb {
	display: none;
}
html.simpl.inSettings .aeH .nH,
html.simpl.inSettings.hideSearch .aeH .nH {
	box-shadow: none;
	-webkit-box-shadow: none;
}
html.simpl.inSettings .aeH .nH > div,
html.simpl.inSettings.hideSearch .aeH .nH > div {
	padding: 4px 8px !important;
}
html.simpl.inSettings header#gb form,
html.simpl.inSettings.hideSearch header#gb form {
	display: none;
}
html.simpl.inSettings .aeH .f2 .fY {
	margin: 16px 0 0 0 !important;
	padding: 0 8px !important;
	border-radius: 8px;
}
/* I'm not sure what this is for but it is ugly when using themes */
html.simpl.inSettings .aeH .f2 .dJ {
	display: none;
}

/* Add a little padding above Settings content */
html.simpl.inSettings .nH > table {
	/*margin-top: 24px;*/
}






/* ================================================== */
/* MISC / MAIN VIEW (LIST AND CONVERSATION) */

/* Right and bottom padding on inbox and messages */
html.simpl .aeF {
	padding-right: 56px !important;
	margin-bottom: 150px;
}

/* Not sure why, but sometimes this div below the conversation gets 440px bottom padding */
html.simpl .pfiaof {
	padding-bottom: 0px !important;
}

/* Max width conversation */
html.simpl .AO .aeF > .nH {
	margin: 40px auto 0 auto;
	max-width: 960px; 
}
@media only screen and (min-width: 1450px) {
	html.simpl:not(.splitView) .AO .aeF > .nH {
		max-width: 1100px;
	}
	html.simpl.splitView .AO .aeF > .nH {
		max-width: 1600px;
		margin: 0 auto;
	}
}


/* Add extra padding between inbox groups */
html.simpl div[role="tabpanel"] {
	padding-bottom: 1em;
	box-sizing: border-box;
}

/* Hide toggle next to inbox groups */
html.simpl div[role="tabpanel"] h3 img {
	display: none;
}

/* TODO: Support Tasks being toggled */

/* Change The right sidebar's drop shadow to a stroke */ 
html.simpl .bq9,
html.simpl .bq9 div {
	box-shadow:none;
}
html.simpl .bq9 {
	border-left:1px solid rgba(0,0,0,0.1);
}

/* Hide footer */
html.simpl .aeG {
	display: none;
}

/* Different treatment of read items in inbox */
html.simpl.lightTheme .yO {
	/* White with lighter text */
	background-color: rgba(255,255,255,0.8);
	color: #444;
}
/* Back to defaults for selected items */
html.simpl.lightTheme .yO.x7 {
	background-color: #c2dbff;
	color: #202124;
}


/* Different background colors for dark themes */
html.simpl.darkTheme .yO {
	background: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.70);
}
html.simpl.darkTheme .yO.x7 {
	color: rgba(255,255,255,1);
    background: #174ea6;
}

/* Dim the Snoozed N days ago text in the inbox */
html.simpl .zA .cL {
	font-weight: normal;
	opacity: 0.8;
}
html.simpl .zA.yO .cL {
	opacity: 0.4;
}

/* Round corners of conversation for themes */
html.simpl .bAn {
	border-radius: 8px;
}

/* Dim print and pop-out icons in conversation view */
html.simpl .bAn .ade {
	opacity: 0.2;
	transition: opacity 0.4s ease-in 0s;
}
html.simpl .bAn .ade:hover {
	opacity: 1;
}

/* Less shadow on items on hover */
html.simpl .zA:hover {
	box-shadow: inset 1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,0.15) !important;
}

/* Dim inbox tabs */
html.simpl .aKh {
	opacity: 0.5;
	transition: opacity 0.2s ease-in 0s;
	border-radius: 8px 8px 0 0;
}
html.simpl .aKh:hover {
	opacity: 1;
}

/* Make "new" badges on tabs grayscale */
html.simpl .aKh .aDG {
	filter: grayscale(100%);
}

/* Hide ads in top of inbox tabs */
html.simpl .aKB {
	display: none;
}

/* Increase z-index of loading butter bar */
html.simpl .ata-asE {
	/* ZINDEX CLEAN UP
	z-index: 999 !important;
	*/
	/* TODO: make it less ugly too */
}

/* Put dialogs on top */
html.simpl div[role="alertdialog"] {
	/* ZINDEX CLEAN UP
	z-index: 998 !important;
	*/
}

/* Hide Support button / menu -- Help is available under Settings gear 
	I don't have this menu but some users have reported seeing it
*/
html.simpl div[data-tooltip="Support"],
html.simpl div.zo {
	display: none;
}



/* ================================================== */
/* SPLIT PANE VIEW */

/* Move action bar over app bar */
html.simpl.splitView .G-atb[gh="tm"] {
	position: fixed;
	top: 8px;
	left: 60px;
	z-index: 7;
}
html.simpl.splitView .G-atb[gh="tm"]:before {
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* Expand action bar when search is hidden */
html.simpl.splitView.hideSearch .G-atb[gh="tm"] {
	width: calc(100vw - 200px);
	transition: width 0.2s ease-in 0s;
}

html.simpl.splitView:not(.hideSearch) .G-atb[gh="tm"] {
	width: calc(65% - 100px);
}

/* Hide footer & space usage in preview pane */
html.simpl.splitView .apc,
html.simpl.splitView .apO {
	display: none;
}

/* Reduce left margin on main view */
html.simpl.splitView .bhZ+.bkK {
	margin-left: 12px !important;
}

/* Override padding around main view */
html.simpl.splitView .aeF {
	padding-right: 0px !important;
	margin-bottom: 0px !important;
}
/* Max width conversation */
html.simpl.splitView .AO .aeF > .nH {
	margin: 0px; /*40px auto 0 auto;*/
	max-width: 100%;
}
@media only screen and (min-width: 1450px) {
	html.simpl.splitView .AO .aeF > .nH {
		max-width: 1100px;
	}
}

/* Add right margin to inbox tabs */
html.simpl.splitView .aeF .aKh {
	margin-right: 16px;
}

/* No bottom border on app bar */
html.simpl.splitView .aiw {
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* Give view full height */
html.simpl.splitView .apg .age {
	height: calc(100vh - 64px);
}

/* Drop the double border between panes to a single border */
html.simpl.splitView .apj {
	border-right: none;
}
html.simpl.splitView .aph {
	border-bottom: none;
}



/* ================================================== */
/* ADD-ONS RIGHT SIDE PANE */

/* Shrink the add-on chooser to a small FAB when not hovered on */
html.simpl .bAw {
	position: fixed;
	right: 47px !important;
	bottom: 100px !important;
	height: 36px !important; 
	width: 36px !important;
	min-width: 36px !important;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 27px;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3) !important;
	transition: height 0s ease-out 0s;
	transition: width 0s ease-out 0s;
	transition: right 0s ease-out 0s;
}
html.simpl .bAw:hover {
	right: 38px !important;
	width: 54px !important;
	height: 226px !important;
}
html.simpl .bAw div[role="navigation"] {
	border-left: 0px;
	border-radius: 16px;
	/* gray fab
	background-color: rgba(0,0,0,.04);
	*/
	background-color: #fff;
}
html.simpl.darkTheme .bAw div[role="navigation"] {
	background-color: rgba(51,51,51,.9);
}
html.simpl .bAw:hover div[role="navigation"] {
	background-color: #fff;
}
html.simpl .bAw div[role="navigation"] > div:not(:first-child) {
	display: none;
}
html.simpl .bAw div[role="navigation"] > div:first-child {
	margin: -122px 0px 0px -10px;
}
html.simpl .bAw div[role="navigation"]:hover > div {
	display: block;
	margin: 0px;
}

/* Hide add-on labels which cause add-on chooser to hide */
html.simpl .brC-ays {
	display: none;
}

/* Set the active add-on icon to still have a white background */
html.simpl .aT5-aOt-I-JX-Jw {
	background-color: #fff !important;
}

/* Move Add-ons chooser over when Add-ons pane is open */
html.simpl.addOnsPane .bAw {
	right: 347px !important;
}
html.simpl.addOnsPane .bAw:hover {
	right: 338px !important;
}

/* Move Add-ons chooser over when Right side chat is enabled */
html.simpl.rhsChat:not(.addOnsPane) .bAw {
	right: 216px !important;
}
html.simpl.rhsChat:not(.addOnsPane) .bAw:hover {
	right: 205px !important;
}

/* Move the compose button over when the add on pane is open */
html.simpl.addOnsPane .z0 {
	left: calc(100vw - 392px);
}

/* Hide the hide button in the add-on chooser */
html.simpl .bAw .brC-dA-I-Jw {
	display: none !important;
}

/* Hide the about button in the add-on chooser */
html.simpl .bAw .brC-by0-P6-I {
	display: none;
}

/* Hide the separator */
html.simpl .bAw div[role="separator"] {
	display: none;
}

/* Less shadow on the button to show the add-ons pane */
html.simpl .brC-dA-I.aT5-aOt-I-Jp .aT5-aOt-I-JX-Jw { 
	box-shadow: 0 1px 1px 0 rgba(60,64,67,.2) !important;
	-webkit-box-shadow: 0 1px 1px 0 rgba(60,64,67,.2) !important;
}

/* Shrink the action bar when the AddOnsPane AND Search are open */
html.simpl.addOnsPane:not(.hideSearch) .aeH {
    width: calc(65% - 72px) !important;
}
html.simpl.addOnsPane.splitView:not(.hideSearch) .G-atb[gh="tm"] {
    width: calc(65% - 300px) !important;
}

/* Shrink the action bar when the AddOnsPane is open BUT NOT Search */
html.simpl.addOnsPane.hideSearch .aeH {
	width: calc(100vw - 470px) !important;
}
html.simpl.addOnsPane.hideSearch.splitView .G-atb[gh="tm"] {
	width: calc(100vw - 506px) !important;
}




/* ================================================== */
/* SIMPL */

/* simpl Toggle button in bottom left corner */
#simplToggle {
	/* Hide simplToggle*/
	display: none;

	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999999999;
	border-radius: 8px 0 0 0;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.3);
	color: #f5f5f5;
	line-height: .5em;
	padding: 10px 8px 8px 10px;
	cursor: pointer;
	opacity: .5;
}
#simplToggle:before {
	content: "π";
}
html.simpl #simplToggle {
	opacity: 1;
}
